<form id="createBeast" ng-submit="ctrl.createBeast()">
  <br/>
  <div class="createFields">
    <div class="canvas-container">
      <canvas id="newCanvas"></canvas>
    </div>

    <div id="color-picker">
      <div class="color" id="red"></div>
      <div class="color" id="orange"></div>
      <div class="color" id="yellow"></div>
      <div class="color" id="green"></div>
      <div class="color" id="blue"></div>
      <div class="color" id="purple"></div>
      <div class="color" id="pink"></div>
      <div class="color" id="black"></div>
      <div class="color" id="white"></div>
    </div>
    <div class="">
      <button type="button" name="button" id="#width-increase">Brush +</button>
      <button type="button" name="button" id="#width-decrease">Brush -</button>
    </div>




    <input type="text" ng-model="ctrl.beastName" placeholder="image url"/>
    <!-- <br/> -->
    <input type="text" ng-model="ctrl.origin" placeholder="rent"/>
    <!-- <br/> -->
    <input type="text" ng-model="ctrl.description" placeholder="sqft"/>
    <!-- <br/> -->
    <!-- <br/> -->
    <div class="">
      <button>Save</button>
      <button>Undo</button>
      <button>Clear</button><br>
    </div>
  </div>
</form>
