<!-- FOOTER -->
<div class="footer">
  <div class="devs">
    <h6>Developed by:</h6>
    <a href="https://github.com/acroak">Andrea Croak</a>
  </div>
  <div class="ga">
    <h6>Creature Creator</h6>
    <p>Created for GA WDIR 2018 &copy;</p>
    <a href="https://generalassemb.ly/">General Assembly</a>
  </div>
  <div class="info">
    <h6>More Info</h6>
    <a href="#">Contact</a>
    <a href="#">Careers</a>
  </div>
  </div>
</div>
</div><!-- END CONTAINER DIV -->
