<meta charset="utf-8">
<title>Creature Creator</title>
<!-- FAVICON -->
  <link rel="shortcut icon" href="http://1.bp.blogspot.com/-mxnbCIBrvuY/UnD0msnnbJI/AAAAAAAA9yA/JRWjTnGVUbA/s1600/Extraterrestre+color.gif">
<!-- local CSS -->
  <link href="/css/main.css" rel="stylesheet" type="text/css" >
<!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- PAPER.JS  -->
  <script type="text/javascript" src="../js/paper-full.js" async></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>
  <script type="text/paperscript" src="/js/custom_paper.js" canvas="newCanvas" async></script>
