<div class="">
  <!-- <% if (currentUser) {%>
    <h1>hello <%=currentUser.username %></h1>
    <% } else {%>
      <h1>LOG IN</h1>
  <%} %> -->
  <nav class="navbar navbar-light bg-light">

      <ul class="nav justify-content-center nav-pills ">
        <li class="navbar-brand flex-sm-fill"><h1>Creature Creator</h1></li>


        <li><a href="/beasts"><button class="btn btn-outline-success" type="button">HOME</button></a></li>
        <li><a href="/beasts/new"><button class="btn btn-outline-success" type="button">Create a New Creature</button></a></li>
      <% if (currentUser) { %>
        <li><a href="/users/<%=currentUser.username%>"><button class="btn btn-outline-success" type="button">Account</button></a></li>
        <li><a href="/beasts/gallery/mine"><button class="btn btn-outline-success" type="button">Your Gallery</button></a></li>

        <li>
            <form action="/sessions?_method=DELETE" method="POST">
                <input class="form-control mr-sm-2 btn-outline-dark"type="submit" value="Logout"/>
            </form>
        </li>
      <% } else {%>
          <li>
            <button class="btn btn-outline-success" type="button">  <a href="/sessions/new">Log In</a></button>
          </li>
          <li>
            <button class="btn btn-outline-success" type="button">  <a href="/users/new">Register</a></button>
          </li>
      <%}%>
      </ul>

  </nav>
</div>
