<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Creature Creator</title>

    <link href="/css/main.css" rel="stylesheet" type="text/css" >
    <!-- PAPER.JS  -->
    <script type="text/javascript" src="../js/paper-full.js" async></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script type="text/paperscript" src="/js/custom_paper.js" canvas="newCanvas" async></script>

  </head>
  <body>
    <% if (currentUser) {%>
      <h1>hello</h1>
      <% } else {%>
        <h1>LOG IN</h1>
    <%} %>

      <div class="canvas-container">
        <canvas id="newCanvas"></canvas>
      </div>

      <div id="color-picker">
        <div class="color" id="red"></div>
        <div class="color" id="orange"></div>
        <div class="color" id="yellow"></div>
        <div class="color" id="green"></div>
        <div class="color" id="blue"></div>
        <div class="color" id="purple"></div>
        <div class="color" id="pink"></div>
        <div class="color" id="black"></div>
        <div class="color" id="white"></div>
      </div>

      <div class="">
        <button type="button" name="button" id="width-increase">Brush +</button>
        <button type="button" name="button" id="width-decrease">Brush -</button>
        <button type="button" name="button" id="undo">Undo</button>
        <button type="button" name="button" id="clear">clear</button>
      </div>

      <form class="" action="/beasts" method="POST">
        <br/>
      Name:
      <input type="text" name="name" value="name" id="name">
        <br/>
      Description:
      <textarea name="description" rows="8" cols="80" id="description"></textarea>
        <br/>
      Tags:
      <input type="text" name="tags" value="tags" id="tags">
        <br/>
      <button id="save-button">Save</button>
    </form>
    <a href="/beasts"><button type="button" name="button">Home</button></a>

  </body>
</html>
