<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%_include ../views/partials/head.ejs %>

  </head>
  <body>

    <%_include ../views/partials/nav.ejs %>

    <div class="main-create-content">
      <div class="canvas-container">
        <canvas id="newCanvas"></canvas>
      </div>

      <div id="color-picker">
        <div class="color" id="red"></div>
        <div class="color" id="orange"></div>
        <div class="color" id="yellow"></div>
        <div class="color" id="green"></div>
        <div class="color" id="blue"></div>
        <div class="color" id="purple"></div>
        <div class="color" id="pink"></div>
        <div class="color" id="black"></div>
        <div class="color" id="white"></div>
      </div>
      <!-- <div class="">
        <button type="button" name="button" id="portrait-layout">Portrait</button>
        <button type="button" name="button" id="landscape-layout">Landscape</button>
        <button type="button" name="button" id="square-layout">Square</button>
      </div> -->
      <div class="brush-btns">
        <button type="button" name="button" id="width-increase" class="btn btn-primary">Brush +</button>
        <button type="button" name="button" id="width-decrease" class="btn btn-primary">Brush -</button>
        <button type="button" name="button" id="undo" class="btn btn-primary">Undo</button>
        <button type="button" name="button" id="clear" class="btn btn-primary">Clear</button>
      </div>


    <form class="create-form" action="/beasts" method="POST">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
          <input type="text" name="name" id="name">
        </div>
      </div>

      <div class="form-group row form-container">
        <label for="description" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
          <textarea name="description" rows="8" cols="80" id="description"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="tags" class="col-sm-2 col-form-label">Tags:</label>
        <div class="col-sm-10">
          <input type="text" name="tags" id="tags">
        </div>

      </div>


      <div class="form-group justify-content-center">
        <div class="row justify-content-center">
          <% if (currentUser) { %>
            <% console.log(currentUser._id) %>
          <input type="text" name="artist" id="artist" value="<%=currentUser.username %>" style="display:none">
          <button id="save-button" class="btn btn-success">Save</button>
          <% } else { %>
            <h4>Sign in to save</h4>
          <% } %>
        </div>
      </div>
    </form>

    </div>

    <%_include ../views/partials/footer.ejs %>
  </body>
</html>
