<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%_include ../views/partials/head.ejs %>

  </head>
  <body>

    <%_include ../views/partials/nav.ejs %>


      <div class="canvas-container">
        <canvas id="newCanvas"></canvas>
      </div>

      <div id="color-picker">
        <div class="color" id="red"></div>
        <div class="color" id="orange"></div>
        <div class="color" id="yellow"></div>
        <div class="color" id="green"></div>
        <div class="color" id="blue"></div>
        <div class="color" id="purple"></div>
        <div class="color" id="pink"></div>
        <div class="color" id="black"></div>
        <div class="color" id="white"></div>
      </div>
      <div class="">
        <button type="button" name="button" id="portrait-layout">Portrait</button>
        <button type="button" name="button" id="landscape-layout">Landscape</button>
        <button type="button" name="button" id="square-layout">Square</button>
      </div>
      <div class="">
        <button type="button" name="button" id="width-increase">Brush +</button>
        <button type="button" name="button" id="width-decrease">Brush -</button>
        <button type="button" name="button" id="undo">Undo</button>
        <button type="button" name="button" id="clear">Clear</button>
      </div>

      <form class="" action="/beasts" method="POST">
        <br/>
          Name:
          <input type="text" name="name" id="name">
            <br/>
          Description:
          <textarea name="description" rows="8" cols="80" id="description"></textarea>
            <br/>
          Tags:
          <input type="text" name="tags" id="tags">

            <br/>

      <% if (currentUser) { %>
      <input type="text" name="artist" id="artist" value="<%=currentUser.username %>" style="display:none">
      <button id="save-button">Save</button>
      <% } else { %>
        <h4>Sign in to save</h4>
      <% } %>
    </form>



    <%_include ../views/partials/footer.ejs %>
  </body>
</html>
