<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%_include ../views/partials/head.ejs %>
  </head>
  <body>
    <%_include ../views/partials/nav.ejs %>

      <div class="not-logged">
        <h1>Please Log in or register.</h1>
      </div>
    <%_include ../views/partials/footer.ejs %>
  </body>
</html>
