/* beast
/* * {
  border: 1px solid red;
} */

span {
  font-size: 14px;
  font-weight: lighter;
}
.container, currentUserProperties {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  align-items: center;
  border: 1px solid red;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 0;
  justify-content: space-between;
  align-items: flex-start;
  /* background-image: url('header.jpg'); */
  background-size: cover;
  background-position: center;
  border: 2px solid orangered;
}

.session {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  margin-left: 15px;
  border: 1px solid orange;
}
.create-login {
  display: flex;
  flex-direction: row;
  border: 3px solid yellow;
}
.user h2, .login h2 {
  background: rgba(255,255,255,.5);
  padding-bottom: 3px;
  margin-bottom: 2px;
  border: 3px solid gold;
}
.user h2 {
  margin-right: 2px;
}
.login h2 {
  margin-left: 2px;
}
.user, .login {
  text-align: center;
}
.user form, .login form{
  display: flex;
  flex-direction: column;
}
.logout {
  display: flex;
  justify-content: flex-end;
}
input:focus {
  outline: none;
}
.login input[type=text], .user input[type=text], .login input[type=password], .user input[type=password] {
  border: none;
  margin: 1px;
  padding-left: 5px;
}
.logout button {
  width: 152px;
}
.login input[type=submit], .user input[type=submit], .logout button {
  background: #313131;
  color: white;
  border: 1px solid #313131;
  margin: 1px;
}
.login input[type=submit]:hover, .user input[type=submit]:hover, .logout button:hover {
  background: #434343;
  color: white;
  border: 1px solid #eafb8a;
}
.new-beast button {
  background: #313131;
  color: white;
  border: none;
  padding: 2px;
}
.new-beast{
  width: 100%;
  background: #313131;
  color: white;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 15px;
}



/*********************************/
/* footer */
/*********************************/

.footer {
  width: 100%;
  background: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.devs, .ga, .info {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px 40px;
}
.devs a, .ga a, .info a {
  color: black;
}
.devs a:hover, .ga a:hover, .info a:hover {
  color: gray;
}

/*********************************/
/* Canvas */
/*********************************/
.createFields {
  border: 5px solid #313131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  width:auto;

}
.color{
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  display: inline-block;
}
#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#purple {
  background-color: purple;
}

#pink {
  background-color: hotpink;
}

#black {
  background-color: black;
}

#white {
  background-color: #fffcff;
}

.canvas-container{

}
canvas {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  background-color: #fffcff;
  border: 5px solid green;
  border-radius: 5px;
}
