
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%_include ../partials/head.ejs %>
    </head>
    <body>
      <%_include ../partials/nav.ejs %>
      <form action="/sessions" method="POST">

        <fieldset class="form-group">
          <legend>Sign In</legend>
          <div class="form-check">
            <label for="username">
              <input type="text" name="username" id="username" placeholder="username">
            </label>
          </div>
          <div class="form-check">
            <label for="username">
              <input type="password" id="password" name="password" placeholder="password"/>
            </label>
          </div>
          <div class="form-check">
            <label for="username">
              <input type="submit" value="Log In" />
            </label>
          </div>
        </fieldset>

      </form>
        <%_include ../partials/footer.ejs %>
    </body>
</html>
