<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%_include ../partials/head.ejs %>
  </head>
  <body>
    <%_include ../partials/nav.ejs %>
    <div class="not-logged">
      <h1>Access Denied.</h1>
      <h2><h1>Please <a href="/sessions/new">Log in</a> or <a href="/sessions/new">Register<a href="/users/new">.</h1></h2>
    </div>
    <%_include ../partials/footer.ejs %>
  </body>
</html>
