<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%_include ../partials/head.ejs %>
  </head>
  <body>
    <%_include ../partials/nav.ejs %>



    <% if (owner = true ) { %>
      <a href="/users/<%=currentUser %>/edit">Edit Profile</a>
      <form action="/users/<%=user.id %>?_method=DELETE" method="POST">
         <input type="submit" value="DELETE PROFILE" onclick="return confirm('Are you sure?')"/>
      </form>
      <a href="#">Create Beast</a>
      <% } %>


    <%_include ../partials/footer.ejs %>
  </body>
</html>
