<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%_include ../partials/head.ejs %>
  </head>
  <body>
    <%_include ../partials/nav.ejs %>
    <h1>User Index</h1>
    <%_include ../partials/footer.ejs %>
  </body>
</html>
