<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%_include ../partials/nav.ejs %>



    <% if (owner = true ) { %>
      <a href="/users/<%=currentUser %>/edit">Edit Profile</a>
      <form action="/users/<%=user %>?_method=DELETE" method="POST">
         <input type="submit" value="DELETE PROFILE" onclick="return confirm('Are you sure? This gets rid of all your drawings permenantly.')"/>
      </form>
      <a href="#">Create Beast</a>
      <% } %>


    <%_include ../partials/footer.ejs %>
  </body>
</html>
